@import 'styles/variables';
@import 'styles/responsive';
@import 'styles/utils';

.slider {
	position: relative;
}

.line,
.thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	border-radius: 6px;

	@include respond-to($tablet) {
		display: none;
	}
}

.line {
	height: 100%;
	background-color: $rain_4;

	.thumb {
		height: 25%;
		background-color: $rain_3;
		transition: top 0.4s ease-in-out;
	}
}

.items {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include respond-to($tablet) {
		flex-direction: unset;
		justify-content: space-between;

		display: block;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		max-width: 100vw;
		padding: 0 $containerPaddingMobile;
		box-sizing: unset;
		margin: 0 -$containerPaddingMobile;

		@include hiddenScrollbar();
	}

	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		width: max-content;
		opacity: 0.5;

		transition: 0.1s;

		&:hover {
			opacity: 1;
		}

		@include respond-to($tablet) {
			display: inline-block;
		}

		.imageWrapper {
			position: relative;
			width: 120px;
			height: 120px;
		}

		.name {
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			margin-top: 4px;

			@include respond-to($tablet) {
				margin: 8px auto 0 auto;
				display: block;
			}
		}
	}

	.item + .item {
		margin-top: 12px;
	}

	.active {
		opacity: 1;
	}
}
