@import 'styles/variables';

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;

    .icon {
        cursor: pointer;
    }
}

.navigation {
    position: absolute;
    top: $headerHeightMobile + 8px;
    right: $containerPaddingMobile;
    width: 200px;
    background: rgba(86, 86, 86, 0.98);
    //backdrop-filter: blur(4px);
    border-radius: 8px;
    box-shadow: $defaultShadow;
    padding: 6px 0;

    transition: 0.2s;
    opacity: 0;
    visibility: hidden;

    .navItem {
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        padding: 12px;
        opacity: 0.8;
        //text-transform: uppercase;
    }

    .activeItem {
        //background-color: $dark_3;
        //font-weight: 400;
        opacity: 1;
    }

    .line {
        width: auto;
        margin: 0 12px;
        height: 1px;
        background-color: #fff;
        opacity: 0.15;
    }

    .userBar {
        padding: 12px 12px 6px 12px;
    }
}

.isOpenedNav {
    opacity: 1;
    visibility: visible;
}
