.nav {
	display: flex;
	align-items: center;

	.navList {
		display: flex;
		align-items: center;
		height: 100%;

		.listItem {
			position: relative;
			display: flex;
			height: 100%;
			align-items: center;
			font-size: 16px;
			line-height: 24px;
			font-weight: 300;
			text-transform: uppercase;

			.link {
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}
			}

			.selectionLine {
				position: absolute;
				top: 0;
				left: -12px;
				box-sizing: unset;
				background-color: #fff;
				width: 100%;
				padding: 0 12px;
				height: 3px;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
				box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);

				transition: 0.2s;
				opacity: 0;
				visibility: hidden;
			}

			.activeSelectionLine {
				opacity: 1;
				visibility: visible;
			}
		}

		.listItem + .listItem {
			margin-left: 80px;
		}

		.active {
			.link {
				opacity: 1;
				font-weight: 400;
			}
		}
	}
}
