@import 'styles/variables';

@mixin slider-thumb {
    appearance: none;
    background-color: #fff;
    border-radius: 50%;
    border: #fff;
    width: 24px;
    height: 24px;
    box-shadow: $defaultShadow;
}


.doubleRange {
    pointer-events: none;

    .inputs {
        position: relative;
        width: 100%;

        .input {
            position: absolute;
            z-index: 1;
            transform: translateY(-40%);
            width: 100%;
            appearance: none;
            background-color: transparent;
            outline: none;

            &::-webkit-slider-thumb {
                @include slider-thumb();
            }

            &::-moz-range-thumb {
                @include slider-thumb();
            }

            &::-ms-thumb {
                @include slider-thumb();
            }

            &::-webkit-slider-thumb {
                pointer-events: all;
            }

            &::-moz-range-thumb {
                pointer-events: all;
            }

            &::-ms-thumb {
                pointer-events: all;
            }
        }
    }

    .lineWrapper {
        margin: auto;
        width: 96%;
        height: 4px;
        background-color: $rain_3;
        border-radius: 2px;
    }

    .line {
        position: relative;
        background: $mythical_1;
        height: 4px;
    }
}