@import 'styles/responsive';
@import 'styles/variables';

.container {
	max-width: 1400px;
	margin: auto;
	padding-left: $containerPadding;
	padding-right: $containerPadding;

	@include respond-to($mobile) {
		padding-left: $containerPaddingMobile;
		padding-right: $containerPaddingMobile;
	}
}
