@import 'styles/variables.scss';

.header {
    position: fixed;
    width: 100%;
    height: $headerHeight;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}