@import 'styles/variables';
@import 'styles/responsive';

.header {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: $headerHeight;
	background: $dark_5;

	transition: 0.2s;

	@include respond-to($mobile) {
		height: $headerHeightMobile;
	}
}

.transparent {
	background: transparent;
}

.container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 100%;

	@include respond-to($mobile) {
		display: flex;
		justify-content: space-between;
	}
}
