@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/typography';
@import 'styles/utils';

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Muller, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: $background_gradient;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: none;
}

div {
	-webkit-tap-highlight-color: transparent;
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

figure {
	margin: 0;
}
