$smallMobile: '(max-width: 360px)';
$mobile: '(max-width: 768px)';
$tablet: '(max-width: 1140px)';
$laptop: '(max-width: 1440px)';

@mixin respond-to($media) {
    @media(#{$media}) {
        @content;
    }
}
