@mixin gradientText($color_1, $color_2) {
	background: -webkit-linear-gradient(#{$color_1}, #{$color_2});
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin croppedText($countLines) {
	-webkit-line-clamp: #{$countLines};
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.silverGradientText {
	@include gradientText('#fff', '#9A9996');
}
