$headerHeight: 78px;

$dark_1: #222222;
$dark_2: #333335;
$dark_3: #636365;
$dark_4: #3d3c41;

$primary_1: #ffc400;

$mythical_1: #d85d65;
$mythical_2: #f99f5b;

//$mythical_1: #FF626D;
//$mythical_2: #FCAD72;

$rain_1: #cacac9;
$rain_2: #cdccca;
$rain_3: #bcbbb9;
$rain_4: #5b5b5a;

$background_gradient: linear-gradient(59deg, rgba(26, 26, 26, 1) 0%, rgba(69, 69, 68, 1) 100%);
