$headerHeight: 78px;

$dark_1: #222222;
$dark_2: #333335;
$dark_3: #636365;

$primary_1: #FFC400;

$rain_1: #CACAC9;
$rain_2: #CDCCCA;
$rain_3: #BCBBB9;
$rain_4: #5B5B5A;

$background_gradient: linear-gradient(59deg, rgba(26,26,26,1) 0%, rgba(69,69,68,1) 100%);